@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* #region tags */

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  --font-black: #000;
  --bg-color-black: #000;
  --bg-color-white: #fff;
  --font-white: #fff;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* #endregion */

/* #region common */

.page {
  container-type: inline-size;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-black);
  margin: 0 auto;
}

main {
  flex: 1 1 auto
}

.wrap {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 6%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.description {
  position: relative;
  box-sizing: border-box;
  padding: 8px 30px;
}

.description__arrow {
  width: 16px;
  height: 8px;
  margin-left: 10px;
}

/* #endregion */

/* #region fonts */

.text_lg {
  color: var(--font-white);
  font-size: clamp(50px, 5cqi, 64px);
  font-weight: 500;
  line-height: 78px;
  text-transform: uppercase;
}

.text_md {
  color: var(--font-white);
  font-size: clamp(18px, 2cqi, 24px);
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

.text_sm {
  color: var(--font-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* #endregion */

/* #region Nav */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  align-items: center;
}

/* #endregion */

/* #region Nav-list */

.list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transform: translateY(-200%);
  transition: all .2s linear;

  &__item {
    padding: 0 4rem;
    cursor: pointer;
  }

  &__item:hover .list__link {
    color: #fff700;
  }

  &__link {
    transition: all .1s linear;
  }
}

.list.active {
  transform: translateY(0);
}

/* #endregion */

/* #region Nav-burger */

.burger {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;

  width: 28px;
  height: 24px;
  cursor: pointer;


  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.1s linear;

    &_one {
      top: 0
    }

    &_two {
      top: 50%;
      transform: translateY(-50%);
    }

    &_three {
      top: 50%;
      transform: translateY(-50%);
    }

    &_four {
      bottom: 0;
    }
  }
}

.burger.active .burger__line_one,
.burger.active .burger__line_four {
  opacity: 0;
}

.burger.active .burger__line_two {
  transform: rotate(45deg);
}

.burger.active .burger__line_three {
  transform: rotate(-45deg);
}

/* #endregion */

/* #region Homepage */

.header {
  height: 62cqi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('./img/image.png') right / auto auto no-repeat;
}

.title-home {
  width: 74%;
  align-self: center;
  text-align: center;
}

.about,
.somework {
  margin-top: 11.88%;
}

.about {
  column-gap: 20px;

  &__one {
    grid-column: 1/2;
  }

  &__two {
    grid-column: 2/6;
  }

  &__three {
    grid-column: 6/12;
  }

  &__item {
    text-transform: uppercase;
  }
}

.opacity {
  opacity: .4;
}

.somework {
  grid-template-rows: repeat(31, 10cqi);

  &__one {
    grid-row: 1/5;
    grid-column: 3/13;
  }

  &__two {
    grid-row: 6/8;
    grid-column: 3/6;
  }

  &__three {
    grid-row: 7/11;
    grid-column: 8/13;
  }

  &__four {
    grid-row: 10/14;
    grid-column: 2/7;
    font-weight: 500;
  }

  &__five {
    grid-row: 14/20;
    grid-column: 3/13;
  }

  &__six {
    grid-row: 22/25;
    grid-column: 6/14;
    font-weight: 500;
  }

  &__seven {
    grid-row: 26/32;
    grid-column: 3/13;
  }
}

.nav-page-content {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
}

/* #endregion */

/* #region Otherpage */

.title {
  width: 74%;
  margin-top: 14%;
}

.work {
  grid-template-rows: repeat(17, 10cqi);
  margin-top: 8%;

  &__one {
    grid-row: 1/6;
    grid-column: 1/8;
  }

  &__two {
    grid-row: 2/5;
    grid-column: 9/14;
  }

  &__three {
    grid-row: 7/10;
    grid-column: 4/9;
  }

  &__four {
    grid-row: 7/12;
    grid-column: 10/15;
  }

  &__five {
    grid-row: 13/16;
    grid-column: 1/7
  }

  &__six {
    grid-row: 14/18;
    grid-column: 8/15;
  }
}

/* #endregion */

/* #region Ellipse */

.ellipse {
  position: relative;
  width: 20cqi;
  margin: 20% auto;
  border-radius: 50%;
  cursor: pointer;
  background: url('./img/ellipse-hover.png') 0 0 / 20cqi auto no-repeat;

  &__img {
    transition: opacity .1s linear;
  }

  &__content {
    position: absolute;
    top: 28%;
    left: 50%;

    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transform: translateX(-50%);
  }

  &__arrow {
    width: 48px;
    height: 22px;
  }

  &__text {
    color: var(--font-black);
    // margin-top: 15%;
    text-transform: uppercase;
  }
}

/* #endregion */

/* #region footer */

.footer {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 7.5% 0;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__right {
    justify-content: space-between;
  }

  &__smile {
    width: 26px;
    height: 26px;
    margin-right: 8px;
  }

  &__item {
    padding: 0 16px;
  }

  &__text {
    transition: all .1s linear;
  }

  &__text:hover {
    color: #EB5757;
  }

  &__arrow {
    width: 16px;
    margin-left: 8px;
  }

  &__up {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    cursor: pointer;
  }
}

/* #endregion */